@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Ubuntu, sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 2rem;
  background-color: #18294f;
  text-align: center;
  padding: .5em .75em;
  margin: 0;
}

header {
  background-color: #18294f;
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  width: 100%;
}

.navigation a {
  color: #6c8fe0;
  display: block;
  text-decoration: none;
  background-color: #18294f;
  font-size: 1.125rem;
  padding: .75rem;
}

.navigation a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

.navigation {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 25em) {

  html {
   font-size: 100%;
   line-height: 1.3;
  }

  .navigation li {
    width: 50%;
    float: left;
  }

  .navigation {
    text-align: center;
  }
}

@media only screen and (min-width: 38em) {

  html {
   font-size: 110%;
   line-height: 1.4;
  }

  .navigation li {
    width: 25%;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  header {
    overflow: hidden;
  }

  h1 {
    float: left;
  }

    nav {
      float: right;
      width: 60%;
  }
}

@media only screen and (min-width: 90em) {

  html {
   font-size: 130%;
 }
}
